article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:hover,a:active{outline:0;}
ul{padding:0;margin:0;}
ul li{list-style-type:none;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
#map_canvas img{max-width:none;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
dd{margin:0 0 0 40px;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.pseudo{color:#59b6d5;border-bottom:1px dotted #59b6d5;cursor:pointer;}.pseudo .hover,.pseudo:hover{color:#2e92b4;border-color:#2e92b4;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.hidden{display:none;}
.hidden-submit{font-size:0;width:0;height:0;position:absolute;line-height:0;visibility:hidden;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.dimension-measurer{display:block !important;position:absolute;visibility:hidden;}
.pull-right{float:right;}
.pull-left{float:left;}
.row{*zoom:1;}.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*="span"]{float:left;min-height:1px;}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:960px;}
.span24{width:960px;}
.span23{width:920px;}
.span22{width:880px;}
.span21{width:840px;}
.span20{width:800px;}
.span19{width:760px;}
.span18{width:720px;}
.span17{width:680px;}
.span16{width:640px;}
.span15{width:600px;}
.span14{width:560px;}
.span13{width:520px;}
.span12{width:480px;}
.span11{width:440px;}
.span10{width:400px;}
.span9{width:360px;}
.span8{width:320px;}
.span7{width:280px;}
.span6{width:240px;}
.span5{width:200px;}
.span4{width:160px;}
.span3{width:120px;}
.span2{width:80px;}
.span1{width:40px;}
.offset24{margin-left:960px;}
.offset23{margin-left:920px;}
.offset22{margin-left:880px;}
.offset21{margin-left:840px;}
.offset20{margin-left:800px;}
.offset19{margin-left:760px;}
.offset18{margin-left:720px;}
.offset17{margin-left:680px;}
.offset16{margin-left:640px;}
.offset15{margin-left:600px;}
.offset14{margin-left:560px;}
.offset13{margin-left:520px;}
.offset12{margin-left:480px;}
.offset11{margin-left:440px;}
.offset10{margin-left:400px;}
.offset9{margin-left:360px;}
.offset8{margin-left:320px;}
.offset7{margin-left:280px;}
.offset6{margin-left:240px;}
.offset5{margin-left:200px;}
.offset4{margin-left:160px;}
.offset3{margin-left:120px;}
.offset2{margin-left:80px;}
.offset1{margin-left:40px;}
.row-fluid{width:100%;*zoom:1;}.row-fluid:before,.row-fluid:after{display:table;content:"";line-height:0;}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.0408163265306123%;*margin-left:1.989795918367347%;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span24{width:144.8979591836735%;*width:144.84693877551024%;}
.row-fluid .span23{width:138.77551020408163%;*width:138.72448979591837%;}
.row-fluid .span22{width:132.65306122448982%;*width:132.60204081632656%;}
.row-fluid .span21{width:126.53061224489797%;*width:126.4795918367347%;}
.row-fluid .span20{width:120.40816326530611%;*width:120.35714285714285%;}
.row-fluid .span19{width:114.28571428571429%;*width:114.23469387755102%;}
.row-fluid .span18{width:108.16326530612245%;*width:108.11224489795919%;}
.row-fluid .span17{width:102.0408163265306%;*width:101.98979591836734%;}
.row-fluid .span16{width:95.91836734693878%;*width:95.86734693877551%;}
.row-fluid .span15{width:89.79591836734694%;*width:89.74489795918367%;}
.row-fluid .span14{width:83.6734693877551%;*width:83.62244897959184%;}
.row-fluid .span13{width:77.55102040816327%;*width:77.5%;}
.row-fluid .span12{width:71.42857142857143%;*width:71.37755102040816%;}
.row-fluid .span11{width:65.3061224489796%;*width:65.25510204081633%;}
.row-fluid .span10{width:59.183673469387756%;*width:59.13265306122449%;}
.row-fluid .span9{width:53.06122448979592%;*width:53.01020408163265%;}
.row-fluid .span8{width:46.93877551020408%;*width:46.88775510204081%;}
.row-fluid .span7{width:40.816326530612244%;*width:40.765306122448976%;}
.row-fluid .span6{width:34.69387755102041%;*width:34.64285714285714%;}
.row-fluid .span5{width:28.57142857142857%;*width:28.520408163265305%;}
.row-fluid .span4{width:22.448979591836736%;*width:22.39795918367347%;}
.row-fluid .span3{width:16.3265306122449%;*width:16.275510204081634%;}
.row-fluid .span2{width:10.204081632653061%;*width:10.153061224489795%;}
.row-fluid .span1{width:4.081632653061225%;*width:4.030612244897959%;}
.row-fluid .offset24{margin-left:148.97959183673473%;*margin-left:148.87755102040822%;}
.row-fluid .offset24:first-child{margin-left:146.9387755102041%;*margin-left:146.8367346938776%;}
.row-fluid .offset23{margin-left:142.85714285714286%;*margin-left:142.75510204081635%;}
.row-fluid .offset23:first-child{margin-left:140.81632653061223%;*margin-left:140.71428571428572%;}
.row-fluid .offset22{margin-left:136.73469387755105%;*margin-left:136.63265306122454%;}
.row-fluid .offset22:first-child{margin-left:134.69387755102042%;*margin-left:134.5918367346939%;}
.row-fluid .offset21{margin-left:130.6122448979592%;*margin-left:130.51020408163268%;}
.row-fluid .offset21:first-child{margin-left:128.57142857142858%;*margin-left:128.46938775510205%;}
.row-fluid .offset20{margin-left:124.48979591836734%;*margin-left:124.3877551020408%;}
.row-fluid .offset20:first-child{margin-left:122.44897959183673%;*margin-left:122.3469387755102%;}
.row-fluid .offset19{margin-left:118.36734693877551%;*margin-left:118.26530612244898%;}
.row-fluid .offset19:first-child{margin-left:116.32653061224491%;*margin-left:116.22448979591837%;}
.row-fluid .offset18{margin-left:112.24489795918367%;*margin-left:112.14285714285714%;}
.row-fluid .offset18:first-child{margin-left:110.20408163265307%;*margin-left:110.10204081632654%;}
.row-fluid .offset17{margin-left:106.12244897959182%;*margin-left:106.02040816326529%;}
.row-fluid .offset17:first-child{margin-left:104.08163265306122%;*margin-left:103.97959183673468%;}
.row-fluid .offset16{margin-left:100%;*margin-left:99.89795918367346%;}
.row-fluid .offset16:first-child{margin-left:97.9591836734694%;*margin-left:97.85714285714286%;}
.row-fluid .offset15{margin-left:93.87755102040816%;*margin-left:93.77551020408163%;}
.row-fluid .offset15:first-child{margin-left:91.83673469387756%;*margin-left:91.73469387755102%;}
.row-fluid .offset14{margin-left:87.75510204081633%;*margin-left:87.65306122448979%;}
.row-fluid .offset14:first-child{margin-left:85.71428571428572%;*margin-left:85.61224489795919%;}
.row-fluid .offset13{margin-left:81.63265306122449%;*margin-left:81.53061224489795%;}
.row-fluid .offset13:first-child{margin-left:79.59183673469389%;*margin-left:79.48979591836735%;}
.row-fluid .offset12{margin-left:75.51020408163265%;*margin-left:75.40816326530611%;}
.row-fluid .offset12:first-child{margin-left:73.46938775510205%;*margin-left:73.36734693877551%;}
.row-fluid .offset11{margin-left:69.38775510204081%;*margin-left:69.28571428571428%;}
.row-fluid .offset11:first-child{margin-left:67.34693877551021%;*margin-left:67.24489795918367%;}
.row-fluid .offset10{margin-left:63.26530612244898%;*margin-left:63.16326530612245%;}
.row-fluid .offset10:first-child{margin-left:61.224489795918366%;*margin-left:61.12244897959183%;}
.row-fluid .offset9{margin-left:57.142857142857146%;*margin-left:57.04081632653061%;}
.row-fluid .offset9:first-child{margin-left:55.10204081632653%;*margin-left:54.99999999999999%;}
.row-fluid .offset8{margin-left:51.02040816326531%;*margin-left:50.91836734693877%;}
.row-fluid .offset8:first-child{margin-left:48.97959183673469%;*margin-left:48.877551020408156%;}
.row-fluid .offset7{margin-left:44.89795918367347%;*margin-left:44.795918367346935%;}
.row-fluid .offset7:first-child{margin-left:42.857142857142854%;*margin-left:42.75510204081632%;}
.row-fluid .offset6{margin-left:38.775510204081634%;*margin-left:38.6734693877551%;}
.row-fluid .offset6:first-child{margin-left:36.73469387755102%;*margin-left:36.63265306122448%;}
.row-fluid .offset5{margin-left:32.6530612244898%;*margin-left:32.55102040816326%;}
.row-fluid .offset5:first-child{margin-left:30.612244897959183%;*margin-left:30.510204081632654%;}
.row-fluid .offset4{margin-left:26.53061224489796%;*margin-left:26.42857142857143%;}
.row-fluid .offset4:first-child{margin-left:24.48979591836735%;*margin-left:24.38775510204082%;}
.row-fluid .offset3{margin-left:20.408163265306122%;*margin-left:20.306122448979593%;}
.row-fluid .offset3:first-child{margin-left:18.367346938775512%;*margin-left:18.265306122448983%;}
.row-fluid .offset2{margin-left:14.285714285714285%;*margin-left:14.183673469387754%;}
.row-fluid .offset2:first-child{margin-left:12.244897959183673%;*margin-left:12.14285714285714%;}
.row-fluid .offset1{margin-left:8.16326530612245%;*margin-left:8.061224489795917%;}
.row-fluid .offset1:first-child{margin-left:6.122448979591837%;*margin-left:6.020408163265306%;}
[class*="span"].hide,.row-fluid [class*="span"].hide{display:none;}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right{float:right;}
HTML,BODY{height:100%;}
BODY{font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:14px;line-height:20px;color:#555555;margin:0;padding:0;background:#ffffff;}
#wrapper{margin:0 auto;width:1020px;background:#f5f6f6;padding:0;min-height:100%;height:auto !important;box-shadow:0 0 10px rgba(0, 0, 0, 0.15);}
#container{min-height:100%;height:100%;}
a{color:#59b6d5;}
a:hover{color:#2e92b4;}
.icon{position:relative;display:inline-block;font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
h1{margin-top:0;}
#fader{position:fixed;top:0;left:0;width:100%;height:100%;background-color:black;opacity:0.4;filter:alpha(opacity=40);z-index:100;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;-o-transition:opacity 0.5s;transition:opacity 0.5s;}#fader.in{opacity:0;filter:alpha(opacity=0);}
.b-block{display:block;}
.b-inline__block{display:inline-block;}
.b-table{display:table;}
.b-table__cell{display:table-cell;}
label{display:block;margin-bottom:5px;}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{display:inline-block;padding:4px 6px;height:20px;margin-bottom:9px;font-size:14px;line-height:20px;color:#555555;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{background-color:#ffffff;border:1px solid #eeeeee;-webkit-box-shadow:inset 0 2px 6px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 2px 6px rgba(0, 0, 0, 0.075);box-shadow:inset 0 2px 6px rgba(0, 0, 0, 0.075);-webkit-transition:border linear .2s, box-shadow linear .2s;-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;transition:border linear .2s, box-shadow linear .2s;}textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:#e2eaf0;outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 8px rgba(154, 177, 194, 0.4);-moz-box-shadow:inset 0 1px 8px rgba(154, 177, 194, 0.4);box-shadow:inset 0 1px 8px rgba(154, 177, 194, 0.4);}
input:-moz-placeholder,textarea:-moz-placeholder{color:#ececec;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ececec;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ececec;}
.radio.inline,.checkbox.inline{display:inline-block;padding-top:5px;margin-bottom:0;vertical-align:middle;}
.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline{margin-left:10px;}
input[type=checkbox]{font-size:0;line-height:0;-webkit-appearance:none;cursor:pointer;}
input[type=search]{margin-bottom:0;font-size:12px;width:30ex;}input[type=search]:before{content:" ";position:absolute;left:0;top:0;width:10px;height:10px;}
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 14px;margin-bottom:0;font-size:14px;line-height:20px;*line-height:20px;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;color:#555555;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #d3d3d3;*border:0;border-bottom-color:#b9b9b9;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}.btn:hover,.btn:active,.btn.active{color:#555555;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn.disabled,.btn[disabled]{color:#c9c9c9;text-shadow:none;opacity:1;background-color:#f4f4f4;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#555555;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);}.btn.active .icon,.btn:active .icon{position:relative;top:1px;}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-action{color:#ffffff;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);background-color:#31ca8b;background-image:-moz-linear-gradient(top, #3dce92, #1fc580);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3dce92), to(#1fc580));background-image:-webkit-linear-gradient(top, #3dce92, #1fc580);background-image:-o-linear-gradient(top, #3dce92, #1fc580);background-image:linear-gradient(to bottom, #3dce92, #1fc580);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3dce92', endColorstr='#ff1fc580', GradientType=0);border-color:#1fc580 #1fc580 #158355;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#1fc580;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-action:hover,.btn-action:active,.btn-action.active{color:#ffffff;background-color:#1fc580;*background-color:#1caf72;}
.btn-action:active,.btn-action.active{background-color:#189963 \9;}
.btn-action.disabled,.btn-action[disabled]{color:#c9c9c9;text-shadow:none;opacity:1;background-color:#f4f4f4;}
.btn-action-success{color:#ffffff;text-shadow:none;background-color:#85e8b3;background-image:-moz-linear-gradient(top, #85e8b3, #85e8b3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#85e8b3), to(#85e8b3));background-image:-webkit-linear-gradient(top, #85e8b3, #85e8b3);background-image:-o-linear-gradient(top, #85e8b3, #85e8b3);background-image:linear-gradient(to bottom, #85e8b3, #85e8b3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85e8b3', endColorstr='#ff85e8b3', GradientType=0);border-color:#85e8b3 #85e8b3 #45dc8b;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#85e8b3;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-action-success:hover,.btn-action-success:active,.btn-action-success.active{color:#ffffff;background-color:#85e8b3;*background-color:#70e4a6;}
.btn-action-success:active,.btn-action-success.active{background-color:#5ae098 \9;}
.btn-action-success.disabled,.btn-action-success[disabled]{color:#c9c9c9;text-shadow:none;opacity:1;background-color:#f4f4f4;}
.btn-action-pause{color:#ffffff;text-shadow:none;background-color:#e18b80;background-image:-moz-linear-gradient(top, #e18b80, #e18b80);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e18b80), to(#e18b80));background-image:-webkit-linear-gradient(top, #e18b80, #e18b80);background-image:-o-linear-gradient(top, #e18b80, #e18b80);background-image:linear-gradient(to bottom, #e18b80, #e18b80);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe18b80', endColorstr='#ffe18b80', GradientType=0);border-color:#e18b80 #e18b80 #d25242;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e18b80;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-action-pause:hover,.btn-action-pause:active,.btn-action-pause.active{color:#ffffff;background-color:#e18b80;*background-color:#dc786b;}
.btn-action-pause:active,.btn-action-pause.active{background-color:#d76557 \9;}
.btn-action-pause.disabled,.btn-action-pause[disabled]{color:#c9c9c9;text-shadow:none;opacity:1;background-color:#f4f4f4;}
.btn-berserker{position:relative;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;width:30px;height:30px;}.btn-berserker .icon{position:absolute;left:8px;top:4px;}
.btn-berserker:active .icon{position:absolute;top:6px;left:8px;}
.arrow{background:url("/images/sprites/arrow-b7be5.png") no-repeat 0 0;vertical-align:text-top;}
.arrow-arrow_left_small{width:10px;height:50px;background-position:0px 0px;}
.arrow-arrow_right{width:19px;height:104px;background-position:0px -52px;}
.arrow-arrow_right_small{width:10px;height:50px;background-position:0px -158px;}
